/* Font Family */
@font-face{
    font-family:"Shop Detail";
    src:url("../fonts/SourceSansPro-Bold.ttf");
}
@font-face{
    font-family:"Sub Header";
    src:url("../fonts/AirframeDemoBoldItalic.ttf");
}
@font-face{
    font-family:"Testo Header";
    src:url("../fonts/Geoma\ Regular\ Demo.otf");
}
@font-face{
    font-family:"Website Header";
    src:url("../fonts/Draconian.ttf");
}
@font-face{
    font-family:"Gallery Header";
    src:url("../fonts/Draconian.ttf");
}
@font-face{
    font-family:"Banner Text";
    src:url("../fonts/SourceSansPro-BoldItalic.ttf")
}
@font-face{
    font-family:"Advertise";
    src:url("../fonts/Roboto-Regular.ttf")
}
@font-face{
    font-family:"Lato Medium";
    src:url("../fonts/Lato-Medium.ttf");
}
@font-face{
    font-family:"Section Header";
    src:url("../fonts/Lato-Black.ttf");
}
@font-face{
    font-family:"Card Title";
    src:url("../fonts/Lato-Semibold.ttf");
}
@font-face{
    font-family:"Card Text";
    src:url("../fonts/SourceSansPro-Bold.ttf");
}
@font-face{
    font-family:"Popular Header";
    src:url("../fonts/Widolte_Bold_demo.otf");
}
/* End Font Family */

/* Start Header Section Style */
.my-header-section{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    z-index:30;
    padding-bottom:0px;
    height:110px;
}
.shop-advert{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0px 10px;
    background-color:#5c4123;
}

.advert-text{
    background: linear-gradient(to right,#f7f3f3,#ffc32a, #ffb78d,#bfe0ff,
    #49ff01,#ff02e6);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family:"Banner Text";
    letter-spacing:0.15rem;
}
.shopping-cart{
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    
}
.cart-noti{
    background-color:red;
    display:flex;
    align-items:center;
    justify-content:center;
    color:lavender;
    text-align:center;
    width: 15px;
    height:15px;
    padding:0 5px;
    border-radius:50%;
    position:absolute;
    top:5px;
    left:30px;
    text-align:center;
}
.cart{
  padding:10px;
    color:gold;

}
.my-cart{
    margin-top:5px;
    font-size:22px;
}
.btn-login{
    width:70px;
    border-radius:10px;
    background-color:transparent;
    border:1px solid #fff;
    margin-left:10px;
    color:#fff;
    text-align:center;
    font-size:14px;
}
.btn-register{
    margin-left:10px;
    width:70px;
    border-radius:10px;
   background-color:#A2580F;
   border:1px solid #A2580F;
   color:#fff;
    text-align:center;
    font-size:14px;
}

.website-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#fff;
    padding-bottom:0px;
    height:60px;
}
.my-main-header{
    font-size:25px;
    font-weight:bolder;
    font-family: "Website Header";
    background: linear-gradient(to right,#9c084a,#240417,#01941a, #3e077e,
    #c92e08);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    letter-spacing:0.1rem;
    word-spacing:-0.7rem;
    margin-left:15px;
    padding-bottom:0px;
}
.sub-header{
    position:relative;
    top:25px;
    left:-50%;
    font-weight: lighter;
    font-size:10px;
    background-color:transparent;
    color:rgb(99, 4, 75);
    font-family:"Sub Header";
    padding-bottom:0px;
}

.logo-area{
    display:flex;
    align-items:center;
}
.my-nav-list{
    display:flex;
    
}
.my-nav-item{
    list-style-type: none;
}
.my-nav-link{
    padding:20px;
    padding-bottom:10px;
    text-decoration: none;
    font-weight: bolder;
    font-size:17px;
    background: linear-gradient(to right,#e9066c,#9e040c,#048019,#0f3a16, #3e077e,
    #c92e08);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
}
.my-nav-active{
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgb(92, 65, 35);
}

/*********************** End Header Section Style ***************************/

/* Start Banner Section Style */
.my-banner-section{
    margin-top:110px;
    height:400px;
   
}
.banner-img-box{
    position:relative;
    z-index: 1;
}
.banner-img{
    width:100%;
    height:400px;
}

.banner-text{
position:absolute;
text-align: justify;
z-index:2;
top:10%;
left:7%;
font-family:"Banner Text";
letter-spacing:0.15rem;
word-spacing:0.3rem;
line-height:1.9rem;
color:#F5C6A5;
font-weight:bolder;
background: linear-gradient(to right,#8f2e01,#440820,#240417, #4e3002,
    #700764);

-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
text-shadow:5px 5px 10px rgb(151, 3, 60);

}
.banner-btn-box{
    position:absolute;
    top:60%;
    left:50%;
    transform:translate(-40%,-50%);
}
.btn-banner{
    padding:10px 15px;
    border-radius:10px;
    text-align:center;
    border:1px solid gold;
    font-weight: bold;
    margin-left:20px;

}
.btn-shop-now{
   background-color:gold;
}
.btn-go-history{
    border-color:gold;
}
/****************************** End Banner Section Style ********************************/



/* Start Featured products Section */
.feature-products-section{
    background-color:#A06D5E;
    height:500px;
    margin-top:0px;

}

.feature-header{
    text-align:center;
    padding-top:30px;
    margin-top:0px;
    font-family:"Popular Header";
    font-weight:bold;
    color:#fff;
}
.feature-img-row{
    width:100%!important;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:10px;
   
}
.feature-img-box{
   
}
.feature-img{
    width:100%;
    height:auto;
    padding:10px 0px;
    border-radius:50%;
    transition:0.5ms;
}
.feature-img:hover{
    transform:scale(0.9);
}
/* ******************End Featured Products Section ****************************/

/* Start Latest Gallery Section Style */
.latest-gallery-section{
    background-color:#fff;
    height:450px;
    padding-top:20px;
}
.latest-gallery-header{
    text-align:center;
    margin-top:0px;
    font-family:"Gallery Header";
    background: linear-gradient(to right top,#ff5202,#036619,#c00e67, #15033f,
    #920281);
    font-weight:bolder;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.latest-gallery-img{
    width:100%;
    height:auto;
    border-radius:10px;
}
.latest-gallery-img:hover{
    transform:scale(1.1);
    border:3px solid rgb(36, 5, 5);
}
.title-bar{
    color:#fff;
}
/********************** End Latest Gallery Section Style****************************** */

/* Start Shop Detail Section Style */
.shop-detail{
    background-color:#B44647;
    
}
.shop-detail-header{
    text-align:center;
    font-weight:bold;
    font-size:30px;
    padding-top:30px;
    font-variant: small-caps;
    color:#fff;
    animation:shop-detail-header-ani 3s 2s infinite alternate-reverse ease-out ;
}
@keyframes shop-detail-header-ani{
    from{
        background: linear-gradient(to right,#970450,#3A001E,#211c35,#acd6f1 );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
    }
    to{
        background: linear-gradient(to right, #010d49,#012404,#055205);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
   
}

.shop-detail-item-box{

    text-align:center;
}
.shop-detail-img{
    width:100px;
    height:100px;
    
}
.shop-detail-img:hover{
    
    transform:scale(1.1);
}
.shop-detail-text{
    color:#fff;
    font-family:"Shop Detail";
    font-weight:bold;
}
.shop-detail-desc{
    color:rgb(61, 9, 9);
    font-size:15px;
    font-weight:bold;
}
/*********************************** End Shop Detail Section Style *************/

/* Start Testimonial Section style*/
.testimonial-section{
    background-color:#fffdca;
    padding-top:20px;
    padding-bottom:50px;
}
.testimonial-header{
    text-align:center;
    font-family:"Testo Header";
    background: linear-gradient(to right, #cf0664,#d11908,#f5b609,#015e31);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation:testo-header-ani 4s 2s infinite alternate-reverse ease-in-out ;
}
@keyframes testo-header-ani{
    0%{
        background: linear-gradient(to right, #405DE6,#5B51D8,#833AB4,#C13584,#E1306C);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    50%{
        background: linear-gradient(to right, #405DE6,#5B51D8,#833AB4,#C13584,#E1306C,
        #FD1D1D,#F56040,#F77737,#f53f12,#db9e05);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    100%{
        background: linear-gradient(to right, #4285F4,#DB4437,#F4B400,#0F9D58);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}


.testimonial-profile{
    width:30px;
    margin:20px 10px 20px 20px;
}
.testimonial-name{
    margin-top:20px;
    color:rgb(46, 2, 2);
    font-style:italic;
    font-weight:bold;
}
.checked{
    color:goldenrod;
}

.rating{
    display:flex;
    justify-content: center;
    margin-top:20px;
}
.review-content{
    text-align:justify;
}
.see-more-review{
    text-decoration:none;
    margin-right:20px;
}
.profile-box{
    display:flex;
    align-items: center;
    
}
.review-box{
    display:flex;
    align-items:center;
    justify-content:center;
   
}


/********************** End Testimonial Section style ***********************/

/*Start Footer Style*/
.my-footer{
    background-color:rgb(92, 65, 35);
    color:gold;
}
.my-footer h3{
    font-family:"Lato Medium";
}
.my-footer a{
    font-family:"Lato Medium Italic";
    font-weight:lighter;
}
.get-social{
    display:flex;
}
.social-icon{
    width:30px;
    height:30px;
    background-color:rgb(224, 215, 215);
    border-radius:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    margin-right:15px;
    text-align:center;
}
.social-icon i{
    font-size:18px;
    text-align:center;
    font-weight:bold;

}
.facebook{
    color:#3b5998;
}
.instagram{
    background: linear-gradient(to right, #405DE6,#5B51D8,#833AB4,#C13584,#E1306C,
    #FD1D1D,#F56040,#F77737,#FCAF45,#FFDC80);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.twitter{
    color:#1DA1F2;
}
.viber{
    color:#59267c;
}
.google{
    background: linear-gradient(to right, #4285F4,#DB4437,#F4B400,#0F9D58);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.youtube{
    color:#FF0000;
}

.contact a{
display:block;
line-height:40px;
text-decoration:none;
color:gold;

}
.contact a:hover{
    color:#F9F3DF;
}
.contact-icon{
    color:gold;
    margin-right:20px;
}

.open-hr{
    width:70%;
}
.social-hr{
    width:80%;
}
.footer-area{
    display:flex;
    justify-content: space-between;
}

.pay{
    width:25px;
    height:auto;
    margin-left:10px;
}
.quick-link{
    display:flex;
    justify-content: center;
    align-items:center;
}
.quick-link-item{
    list-style-type:none;
    margin-left:5px;
    padding:0px 5px;
    
}
.quick-link a{
    font-size:17px;
    font-weight:bold;
    text-decoration:none;
    color:#fff;  
}
.quick-link a:hover{
    color:gold;
}
.footer-text{
    font-family:"Lato Medium Italic";
}
.cpy-text{
    font-size:15px;
    color:gold;
    text-align:center;
}
.log-area-footer{
    display:flex;
    align-items:center;
    justify-content: center;
}
.main-header-footer{
    font-size:20px;
    font-variant: small-caps;
    font-weight:bolder;
    font-family: "Exo";
    text-align: center;
    animation:title-footer-ani 4s 2s infinite alternate-reverse ease-in-out ;
   
}
.sub-header-footer{
    font-weight: lighter;
    font-size:8px;
    font-family:"Sub Header";
    text-align:center;
    animation:title-footer-ani 4s 2s infinite alternate-reverse ease-in-out ;
    
}
@keyframes title-footer-ani{
    0%{
        color:#FDF5CA; 
    }
    20%{
        background: linear-gradient(to right,#f7f3f3,#ffc32a, #ffb78d,#bfe0ff,
        #49ff01,#ff02e6);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    }
    40%{
        background: linear-gradient(to right,#095303,#ffc32a, #ffb78d,#bfe0ff,
        #49ff01,#ff02e6);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    }
    60%{
        background: linear-gradient(to right,#f7f3f3,#ffb803, #f15c06,#076bc9,
        #49ff01,#ff5def);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    }
    80%{
        background: linear-gradient(to right,#f0d7d7,#ffce53, #ffb387,#aed8ff,
        #b0ff90,#ff5def);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    }
    100%{
        background: linear-gradient(to right,#860606,#05da29, #07fa50,#9ccefd,
        #49ff01,#ff8b5d);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    }
    
}
/************************************** End Footer Style ********************/



